# Dependências
node_modules/

# Variáveis de ambiente (nunca subir!)
.env
.env.local
.env.*.local

# Build
dist/
dist-ssr/

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Sistema
.DS_Store
Thumbs.db
